.card {
  @apply flex flex-col justify-between;
}

.card .description {
  @apply absolute top-0 h-48 w-full overflow-hidden rounded-md  bg-black  bg-opacity-80 p-2  text-sm text-white opacity-0;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.description:hover {
  transition: all 0.2s ease-in-out;
  opacity: 0.9;
  filter: grayscale(80%);
}
.description:hover {
  @apply cursor-pointer opacity-100;
}
