.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  @apply bg-black bg-opacity-50 !important;
  z-index: 998;
}

.ReactModal__Content {
  z-index: 999;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.cart-card .description {
  @apply mt-2 hidden text-sm;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
